.root {
    -fx-background-color: linear-gradient(#542862 20%, #222020 80%);
}

.label {
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-font-size: 14 pt;
    -fx-text-fill: White;

}

.button {
    -fx-text-fill: #d7d7d7;
    -fx-font-size: 12  pt;
    -fx-font-weight: bold;
    -fx-background-color: #211639;
}

.text-field {
    -fx-font-weight: bold;
    -fx-font-family: Dialog;
    -fx-font-size: 14 pt;
    -fx-text-fill: #d7d7d7;

}
